:root {
    --white: #ffffff;
    --sky-blue: #00A2FF;
    --body1-regular: 400 1rem/1.5rem Poppins;
    --body1-bold-small: 700 0.6rem/1.5rem Poppins;
    --body1-bold: 700 1rem/1.5rem Poppins;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
    background-color: var(--primary);
    font-family: 'Poppins', sans-serif;
}


/* .content {} */

.wrapper {
    box-sizing: border-box;
    margin: 16px;
}

.grid-details {
    display: grid;
    grid-template-columns: repeat(auto-fill, 161px);
    grid-auto-rows: 10px;
    gap: 16px;
    justify-content: center;
}

.card-content {
    /* max-width: 418px; */
    block-size: 100%;
    inline-size: 100%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
    border-radius: 8px;
    grid-row: span 19;
}

.card-content:hover .card-placeholder {
    display: block;
}

.card-content:hover .card-description {
    display: none;
}

.card-content:hover .card-image {
    /* transform: scale(1.5);} */
}

.card-placeholder {
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    border-radius: 8px;
}

.card-content .card-image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.card-size {
    block-size: 100%;
}

.card-size-350 {
    grid-row: span 7;
}

.card-size-418 {
    grid-row: span 7;
}

.card-size-500 {
    grid-row: span 8;
}

.card-description {
    /* top: 0; */
    left: 16px;
    right: 0;
    bottom: 16px;
    box-sizing: border-box;
    position: absolute;
}

.card-description .title-capital {
    margin-block-start: 0;
    margin-block-end: 4px;
    font: var(--body1-bold)
}

.card-description .title-country {
    font: var(--body1-regular)
}

.card-content-link {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    align-items: center;
    /* border: 3px solid yellow; */
}

.button-search-map {
    padding-block: 8px;
    padding-inline: 16px;
    background-color: var(--sky-blue);
    color: var(--white);
    border-radius: 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.img-svg {
    display: none;
}

.text-search-map {
    font: var(--body1-bold-small);
    margin-block: 8px;
    margin-inline: 8px;
}

@media screen and (min-width:710px) {
    .grid-details {
        grid-template-columns: repeat(3, minmax(234px, 418px));
    }
    .card-size-350 {
        grid-row: span 10;
    }
    .card-size-418 {
        grid-row: span 12;
    }
    .card-size-500 {
        grid-row: span 13;
    }
    .img-svg {
        display: block;
    }
    .text-search-map {
        font: var(--body1-bold);
    }
}

@media screen and (min-width:1024px) {
    .card-size-350 {
        grid-row: span 14;
    }
    .card-size-418 {
        grid-row: span 17;
    }
    .card-size-500 {
        grid-row: span 20;
    }
}